{% extends "notes/main.html" %}
{% block side %}
{% endblock side %}
{% block content %}
<div class="container-fluid">
	<div class="span9">
		<form action="/notes/{{n.id}}/edit_n/" method="post">
		{% csrf_token %}
			<input type='hidden' name='id' id="id" value="{{n.id}}" />
			<p><label for="subject">Subject:</label> <input class="span7" id="subject" maxlength="200" name="subject" type="text" value="{{n.subject}}" /></p>
			<p><label for="content">Content:</label> <textarea class="span7" cols="300" id="content" name="content" rows="10">{{n.content}}</textarea></p>
		<p><label for="notebook">Notebook:</label> <select id="notebook" name="notebook">
			<option value="{{n.notebook_id}}" selected="selected">{{n.notebook}}</option>
			{% for nb_list in notebook_list %}
			<option value="{{nb_list.id}}">{{ nb_list.name }}</option>
			{% endfor %}
		</select></p>
		<p><label for="tags">Tags:</label> <input class="span3" id="tags" maxlength="50" name="tags" type="text" value="{{n.tags}}" /></p>
		<button type="submit" name="submit" class="btn btn-success" >Save</button>
		<button href="/notes" class="btn btn-info" >Cancel</button>
		</form>
		
	</div>
</div>
{% endblock content %}
